.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  & > div {
    max-width: 600px;
    width: 100%;
    max-height: 600px;
  }
}

.table {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  box-sizing: border-box;
}

.row {
  display: grid;
  grid-template-columns: subgrid;
  column-gap: 16px;
  box-sizing: border-box;
  grid-column: 1 / -1;

  &:hover {
    outline: 1px solid var(--white);
  }
}

.cell {
  white-space: nowrap;
}
