.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey);
  overflow: auto;

  & > button {
    display: flex;
    column-gap: 8px;
    border: none;
    border-radius: 0;
    background: none;
    text-align: left;

    &:not(:last-child) {
      border-bottom: 1px solid var(--grey);
    }

    &:nth-child(even) > .time {
      opacity: 0;
    }

    &:nth-child(odd) {
      border-color: var(--grey-2);
    }

    &.selected {
      background-color: color-opacity(var(--blue), 0.2);
    }
  }
}

.event {
  padding: 0 4px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: var(--blue);
  font-size: 14px;
}
