.container {
  flex-grow: 1;

  & > table {
    width: 100%;

    & tr:hover {
      outline: 1px solid var(--grey-1);
    }

    & a {
      color: var(--white);

      &:visited {
        color: var(--grey-1);
      }
    }
  }
}
