@use 'colors.scss' as *;
@use 'vars.scss' as *;

html {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
}

a {
  all: unset;
  cursor: pointer;

  @media (max-width: $desktop) {
    cursor: default;
  }
}

h1,
p,
ul {
  all: unset;
}

pre {
  margin: 0;
}

input,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}

button {
  all: unset;
  box-sizing: border-box;
  touch-action: manipulation;
  cursor: pointer;

  @media (max-width: $desktop) {
    cursor: default;
  }
}

button[disabled] {
  cursor: not-allowed;
}

table {
  border-collapse: collapse;
}

// ----------------

input {
  outline: none;
  border: 1px solid var(--grey-1);
  background-color: var(--black);

  &:focus {
    border-color: var(--white);
  }
}

button {
  padding: 0 4px;
  border: 1px solid var(--grey-1);
  background-color: var(--black);
  color: var(--white);
}
