.container {
  min-height: 100vh;
  display: flex;
}

.nav {
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  & > a {
    padding: 0 8px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    background-color: var(--black);
    color: var(--text);
    text-decoration: none;
    text-align: center;
  }

  & > a.active {
    color: var(--white);
  }
}

.wrapper {
  padding: 16px;
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.hello {
  color: var(--white);
  font-size: 40px;
}
