.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  row-gap: 16px;
}

.tabs {
  display: flex;
  column-gap: 4px;

  & button:global(.active) {
    border-color: var(--blue);
  }
}
