.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--grey-1);
  overflow: auto;

  &:has(.empty) {
    border: none;
  }
}

.group {
  padding: 4px 0;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  border-bottom: 1px solid var(--grey-1);
}

.date {
  padding: 0 8px;
  font-weight: bold;
}

.events {
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
    column-gap: 12px;
  }
}

.time {
  color: var(--grey-1);
}
